.footer {
  display: flex;
  flex-direction: column;

  .sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
    .column {
      display: flex;
      flex-direction: column;
    }
    .column > * {
      margin-bottom: 0.3em;
    }
  }

  .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  .social_media_icons > * {
    margin-right: 1em;
  }
}

@media (min-width: 1200px) {
  .footer {
    max-width: 60%;
  }
}
