.modalContent {
  .form {
    width: 95%;
    margin-top: 1.5em;
    .image {
      display: flex;
      gap: 0.1em;
      flex-direction: column;
      .upload {
        margin-top: 2em;
      }
    }
    .buttons {
      margin-right: 1.5em;
      min-width: 12ch;
    }
  }
}
