.container {
  display: flex;
  justify-content: center;
  margin-top: 2em;

  .image {
    border-radius: 6px;
    width: 80%;
    max-width: 55em;
    height: 100%;
    max-height: 23em;
    transition: transform 3s ease;
    background-color: aquamarine;
    overflow: hidden;
    object-fit: cover;
  }

  .zoomed {
    transform: scale(1.4); /* Adjust the desired scale value */
  }
}
