.modalContent {
  .form {
    width: 95%;
    margin-top: 1.5em;
    .colorForm {
      display: flex;
      gap: 1em;
      align-items: center;
      .colorButton {
        height: 40.5px;
        width: 42.5px;
        padding: 0%;
      }
    }
  }
}
