.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .title {
    margin-top: 1.5em;
  }
  .products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 90em;
    gap: 0.8em;
    padding-inline: 10px;

    .moreProducts {
      display: none;
    }

    .hideProduct {
      display: show !important;
    }
  }

  .productIndex {
    display: none;
    margin-top: 1em;
  }

  .showMore {
    margin-top: 1em;
  }
}

@media (max-width: 1000px) {
  .container {
    padding-inline: 1%;
    max-width: none;
    .products {
      padding-inline: 1em;
      gap: 0.1em;

      .hideProduct {
        display: none;
      }
      .showProduct {
        display: block;
      }
    }
    .productIndex {
      display: block;
    }
    .showMore {
      margin-top: 0.5em;
    }
  }
}

@media (max-width: 920px) {
  .container {
    max-width: none;
    .products {
      padding-inline: 1em;
      .hideProduct {
        display: none;
      }
    }
  }
}
